body {
	scroll-behavior: smooth;
}

.choice {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.choice__box {
	transition: all .6s;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	border-radius: 5px;
	overflow: hidden;
	position: relative;

	&::before {
		content: '';
		width: 20%;
		height: 5px;
		bottom: 0;
		left: 0;
		transition: all .6s;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		background-color: #FFF;
		z-index: 9999;
	}

	&::after {
		content: '';
		width:  100px;
		height: 100px;
		top: -5%;
		right: -5%;
		transition: all .6s;
		border: 4px solid #000;
		border-radius: 50%;
		position: absolute;
	}

	&:hover {
		color: #FFF;
		background-color: #03787C;

		&::before {
			width: 100%;
			opacity: 1;
			visibility: visible;
		}

		&::after {
			border-color: #FFF;
		}
	}
}

.sec-pattern {
	border-top: 8px solid #03787C;
	display: none !important;

	&.active {
		display: block !important;
	}
}