.choice {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.choice__box {
	transition: all .6s;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	border-radius: 5px;

	&:hover {
		color: #FFF;
		background-color: #03787C;
	}
}